[mcu BoxTurtle]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_460011000651333039393136-if00
restart_method: command