[gcode_macro END_PRINT]
gcode:	
	
	# Move nozzle away from print while retracting
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 5, th.axis_maximum.z]|min %}
	
	## If the print is for a multi colour print technique using print one then the other, keep the bed heater on
	##{% set multi_heaters_on = params.MM_HEAT_ON %} 
	
	###############################
	
	# Wait for buffer to clear
	M400   			
	# Zero the extruder
	G92 E0       	
	# Retract filament a little
	G1 E-3 F3600 	
	

	###############################

	# Set absolute positioning
	G90                 
	# Move nozzle to remove stringing
	G0 X{x_safe} Y{y_safe} Z{z_safe} F20000    
	# Safe park at rear
	#G0 X{th.axis_maximum.x/2} Y{th.axis_maximum.y - 2} F3600 	
	G0 X10 Y{th.axis_maximum.y - 2} F3600 	

	###############################	
	
	# Disable steppers	
	M84		
	# turn off the control board fans
	# SET_FAN_SPEED FAN=dual_controller_fan SPEED=0.0	    
	
	# Wait till bed and extruder reach acceptable cooling levels for them to cool down to a decent level	
	TURN_OFF_HEATERS

	# Clear the bed mesh
	BED_MESH_CLEAR  
	
	# Diable the filament sensors
	#SFS_DISABLE_SWITCH
	#SFS_DISABLE_ENCODER
	
	###############################	

	# While the temperature of the hotend is above 60, then keep it in cooling mode
	# Check every 5 seconds for the temperature of the bed
	{% set DELAY = params.DELAY|default(5*1)|int %} 

	#CUSTOM_DISPLAY_MESSAGE MESSAGE='cooling'
	SET_DISPLAY_TEXT MSG="Cooling down..."
	M118 Cooling down...
	
	UPDATE_DELAYED_GCODE ID=COOLDOWN_COMPLETE DURATION={DELAY}
			
	###############################
	


[delayed_gcode COOLDOWN_COMPLETE]
initial_duration: 0.0
gcode:
	# If the bed temp is above 60, then bed is still too warm. Keep it in cooldown mode
    {% if printer.extruder.temperature > 60 %} 
	
        CHECK_TEMP 
		
    {% else %}
	
		# Turn chmaber lights on
		CASE_LIGHTS_ON  
		# Nevermore off
		#SET_FAN_SPEED FAN=nevermore SPEED=0  
		
		# Set the SB leds to initial mode again
		LED_STATUS_INITIAL
		
		# Loop the message
		#CUSTOM_DISPLAY_MESSAGE MESSAGE='print_end'
		SET_DISPLAY_TEXT MSG="Print complete!"
		M118 Print complete!
		
	{% endif %}
	
	
[gcode_macro CHECK_TEMP]
gcode:
    {% set DELAY = params.DELAY|default(5*1)|int %}
	
	UPDATE_DELAYED_GCODE ID=COOLDOWN_COMPLETE DURATION={DELAY}

	
	# Sets SB-leds to indicate cooling
	LED_STATUS_HEATING_BED
	LED_STATUS_HEATING_EXT	
