# ##########################
# # LED Effects Animations #
# ##########################

# Default State
[led_effect _led_eff_logo_initial]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1)
layers:
        static  0.00 0.00 add (0, .25, 5)
		
[led_effect _led_eff_nozzle_initial]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (2-3)
layers:
        static  0.00 0.00 add (1, 1, 1)
				
[led_effect _led_eff_disco_initial]
autostart:              false
frame_rate:             24
leds:
    neopixel:disco (1-36)
layers:
        static 0.00 0.00 add (1.0, 0, 0)
		
[led_effect _led_eff_disco_printing]
autostart:              false
frame_rate:             24
leds:
    neopixel:disco (1-36)
layers:
        static 0.00 0.00 add (1.0, 1.0, 1.0)




	
[led_effect _led_eff_logo_print]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1)
layers:
	gradient 1.70 1.00 top (0.00,0.50,0.00),(0.00,0.25,0.50) 



# Meshing
[led_effect _led_eff_all_homing]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1)
	#neopixel:disco (1-36)
layers:
	#homing 1.00 0.00 add (0.50,0.00,0.00) 
	chase 1.70 1.00 top (0.00,0.50,0.00),(0.00,0.25,0.50) 
	

#Printing
[led_effect _progress_bar]
leds:
    neopixel:disco (1-36)
autostart:                          false
frame_rate:                         24
layers:
	progress -1.00 0.00 add (1.00,0.50,0.25),(0.00,0.60,0.02) 
	# static 0.00 0.00 top (0.1,0.1,0.1) 

#Heating
[led_effect _bed_temp]
leds:
    neopixel:disco (1-36)
autostart:                          false
frame_rate:                         24
heater:                             heater_bed
layers:
    heater  50 0 add    (1,1,0),(1,0,0)
    static  0  0 top    (0,.7,0)



# use NEOPIXEL_DISPLAY LED=Led_Name TYPE=template_type MODE=template_mode

# for TYPE use:
# extruder_temp     :extruder temperature progress
# bed_temp          :bed temperature progress
# print_percent     :print progress
# printer_speed     :printer speed

# for MODE use:
# progress          :the leds will light up one by one
# glow              :all leds will fade from one color (or non) to other color

# more info: https://github.com/digitalninja-ro/klipper-neopixel/blob/master/README.md

[gcode_macro NEOPIXEL_DISPLAY]
gcode:
    {% set led = params.LED %}
    {% set type = params.TYPE %}
    {% set mode = params.MODE %}
    {% set my_neopixel = printer.configfile.config['neopixel ' ~ led] %}

    {% if mode == 'progress' %}
        {% for i in range(my_neopixel.chain_count|int) %}
            SET_LED_TEMPLATE LED={led} INDEX={i+1} TEMPLATE={'led_' ~ type ~ '_' ~ mode} param_led_num={i+1} param_led_total={my_neopixel.chain_count|int}
        {% endfor %}
    {% endif %}
    {% if mode == 'glow' %}
        SET_LED_TEMPLATE LED={led} TEMPLATE={'led_' ~ type ~ '_' ~ mode}
    {% endif %}

[display_template led_extruder_temp_glow]
text:
    {% if printer.extruder.target > 0.0 %}
        {%  set temp = printer.extruder.target %}
    {% else %}
        {% set temp = printer.configfile.config.extruder.max_temp %}
    {% endif %}
    {% set ratio = printer.extruder.temperature / temp|float %}
    {ratio}, 0.0, {1-ratio}, 0.0

[display_template led_extruder_temp_progress]
param_led_num:  0
param_led_total: 1
text:
    {% if printer.extruder.target > 0.0 %}
        {%  set temp = printer.extruder.target %}
    {% else %}
        {% set temp = printer.configfile.config.extruder.max_temp %}
    {% endif %}
    {% set ratio = printer.extruder.temperature / temp|float %}
    {% set led_ratio = param_led_num|float / param_led_total %}
    {% if ratio > led_ratio %}
        {led_ratio}, 0.0, 0.0, 0.0
    {% else %}
        0.0, 0.0, 0.0, 0.0
    {% endif %}

[display_template led_bed_temp_glow]
text:
    {% if printer.heater_bed.target > 0.0 %}
        {%  set temp = printer.heater_bed.target %}
    {% else %}
        {% set temp = printer.configfile.config.heater_bed.max_temp %}
    {% endif %}
    {% set ratio = printer.heater_bed.temperature / temp|float %}
    {ratio}, 0.0, {1-ratio}, 0.0

[display_template led_bed_temp_progress]
param_led_num:  0
param_led_total: 1
text:
    {% if printer.heater_bed.target > 0.0 %}
        {%  set temp = printer.heater_bed.target %}
    {% else %}
        {% set temp = printer.configfile.config.heater_bed.max_temp %}
    {% endif %}
    {% set ratio = printer.heater_bed.temperature / temp|float %}
    {% set led_ratio = param_led_num|float / param_led_total %}
    {% if ratio > led_ratio %}
        {led_ratio}, 0.0, 0.0, 0.0
    {% else %}
        0.0, 0.0, 0.0, 0.0
    {% endif %}

[display_template led_print_percent_glow]
text:
    {% set ratio = printer.virtual_sdcard.progress %}
    0.0, {ratio}, 0.0, 0.0

[display_template led_print_percent_progress]
param_led_num:  0
param_led_total: 1
text:
    {% set ratio = printer.virtual_sdcard.progress %}
    {% set led_ratio   = param_led_num|float / param_led_total %}
    {% if ratio > led_ratio %}
        0.0, {led_ratio}, 0.0, 0.0
    {% else %}
        0.0, 0.0, 0.0, 0.0
    {% endif %}

[display_template led_printer_speed_glow]
text:
    {% set ratio  = printer.motion_report.live_velocity|float /  printer.configfile.config.printer.max_velocity|float %}
    0.0, {ratio}, 0.0, 0.0

[display_template led_printer_speed_progress]
param_led_num:  0
param_led_total: 1
text:
    {% set ratio  = printer.motion_report.live_velocity|float /  printer.configfile.config.printer.max_velocity|float %}
    {% set led_ratio    = param_led_num|float / param_led_total %}
    {% if ratio > led_ratio %}
        0.0, {led_ratio}, 0.0, 0.0
    {% else %}
        0.0, 0.0, 0.0, 0.0
    {% endif %}