#####################################################################
#   print_start macro
#####################################################################

## *** THINGS TO UNCOMMENT: ***
## Bed mesh (2 lines at 2 locations)
## Screw_tilt_adjust if your printer is a Trident
## Quad gantry level if your printer is a V2
## Nevermore - if you have one

[gcode_macro PRINT_START]
gcode:
	#CLEAR_DISPLAY_MESSAGE
	
	# This part fetches data from your slicer. Such as bed temp, extruder temp, chamber temp and size of your printer.
	{% set target_bed = params.BED|int %}
	{% set target_extruder = params.EXTRUDER|int %}
	{% set target_chamber = params.CHAMBER|default("40")|int %}
	
	{% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
	{% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
	
	{% set nozzle   = params.NOZZLE_DIAMETER %} 
	{% set material = params.MATERIAL_TYPE %} 
	
	###############################
	
	# Reset the LEDs and display back to the original settings in case the machine has gone to idle
	LED_STATUS_AWAKE

	# Turn the lights on
	CASE_LIGHTS_ON
	
	# Ensure the filament sensors are disabled. This will be handled on layer changes in Slicer
	#DISABLE_FILAMENT_SENSORS 
	
	###############################
	

	# Homes the printer, sets absolute positioning and updates the Stealthburner leds.
	# Sets SB-leds to homing-mode
	#LED_STATUS_HOMING
	
	# Full home (XYZ)
	G28
	
	# Absolute position
	G90     
	
	# Do a purge and clean to get any extra bits off nozzle
	##CLEAN_NOPURGE
	
	 # Go to purge bucket, heat to target temp, purge, cool to 150, wipe nozzle
	CLEAN_NOZZLE PURGE={target_extruder} CLEAN=220
	
	# Full home (XYZ)
	##G28
	
	###############################

	# Clears old saved bed mesh (if any)
	BED_MESH_CLEAR 
	
	###############################
	

	
	# Set custom pressure advance 
	{% set lookup_table = { 
		"ABS": {
			"0.4": 0.055,
			"0.6": 0.025, #Not tuned
		},
		"ASA": {
			"0.4": 0.05,
		},
		"PET": {
			"0.4": 0.045,
		},
		"PLA": {
			"0.4": 0.05,
		},
		"TPU": {
			"0.4": 0.05,
		}
	} %}

	{% if material in lookup_table and nozzle in lookup_table[material] %} 
	
		M118 SET_PRESSURE_ADVANCE ADVANCE={lookup_table[material][nozzle]}	
		
	{% else %}
	
		M118 WARNING: No pressure advance setting found for {material}@{nozzle}mm 
		
	{% endif %}


	###############################
	
	
	# Sets SB-leds to heating-mode
	LED_STATUS_HEATING_BED
	

	# Checks if the bed temp is higher than 90c - if so then trigger a heatsoak.
	{% if params.BED|int > 90 %}	

		# Turns on the PT-fan
		M106 S255	

		#CUSTOM_DISPLAY_MESSAGE MESSAGE='nevermore_on'
		
		# Turn the nevermore on
		#SET_FAN_SPEED FAN=nevermore SPEED=1.0

		#CUSTOM_DISPLAY_MESSAGE MESSAGE='bed_heating'
		SET_DISPLAY_TEXT MSG="Bed heating up"
		M118 Bed heating up
		# Goes to center of the bed
		G1 X{x_wait} Y{y_wait} Z15 F9000   
	
		BEDFANSFAST
		# Sets the target temp for the bed	
		M190 S{target_bed}     

		#CUSTOM_DISPLAY_MESSAGE MESSAGE='soaking'
		SET_DISPLAY_TEXT MSG="Preheating chamber..."
		M118 Preheating chamber...
		
		# Waits for chamber to reach desired temp
		TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}  		

	# If the bed temp is not over 90c, then it skips the heatsoak and just heats up to set temp with a 5min soak
	{% elif params.BED|int > 49 %}				
		
		#CUSTOM_DISPLAY_MESSAGE MESSAGE='bed_heating'
		# Goes to center of the bed
		G1 X{x_wait} Y{y_wait} Z15 F9000 

		# Sets the target temp for the bed
		M190 S{target_bed}
		
		#CUSTOM_DISPLAY_MESSAGE MESSAGE='soaking' 
		SET_DISPLAY_TEXT MSG="Waiting for 5 min"
		M118 Waiting for 5 min

		# Turn the nevermore on
		#CUSTOM_DISPLAY_MESSAGE MESSAGE='nevermore_on'		
		#SET_FAN_SPEED FAN=nevermore SPEED=1.0		
		
		# Waits 5 min for the bedtemp to stabilize
		G4 P300000
		
	{% else %}				

		# Goes to center of the bed
		G1 X{x_wait} Y{y_wait} Z15 F9000 
		
	{% endif %}

	#CUSTOM_DISPLAY_MESSAGE MESSAGE='soaking_complete'
	SET_DISPLAY_TEXT MSG="Preheat complete"
	M118 Preheating complete

	###############################

	# Heating nozzle to 150 degrees. This helps with getting a correct Z-home
	#CUSTOM_DISPLAY_MESSAGE MESSAGE='hotend_150'
	SET_DISPLAY_TEXT MSG="Setting hotend to 150"
	M118 Setting hotend to 150

	# Heats the nozzle to 150c
	M109 S150 

	# Uncomment for V2 (Quad gantry level AKA QGL)	
	# Sets SB-leds to leveling-mode
	#CUSTOM_DISPLAY_MESSAGE MESSAGE='qgl'
	SET_DISPLAY_TEXT MSG="QGL"
	M118 QGL
	
	LED_STATUS_QGL
	
	# Levels the buildplate via QGL
	QUAD_GANTRY_LEVEL  
	#CUSTOM_DISPLAY_MESSAGE MESSAGE='qgl_complete'
	SET_DISPLAY_TEXT MSG="QGL complete"
	M118 QGL complete


	# Homes Z again after QGL
	#CUSTOM_DISPLAY_MESSAGE MESSAGE='homing_axis'
	SET_DISPLAY_TEXT MSG="Homing Z"
	M118 Homing Z
	LED_STATUS_HOMING
	G28 Z
	
	###############################

	# Bed Mesh
	#CUSTOM_DISPLAY_MESSAGE MESSAGE='bed_mesh'
	
	# Sets SB-leds to bed mesh-mode
	LED_STATUS_MESHING 
	
	# Starts bed mesh	
	SET_DISPLAY_TEXT MSG="Generate bed mesh"
	M118 Generate bed mesh
	BED_MESH_CALIBRATE 
		
	# Calibrate z offset only with hot nozzle
	SET_DISPLAY_TEXT MSG="Calibrate Z offset"
	M118 Calibrate Z Offset
	CARTOGRAPHER_TOUCH         

	###############################

	# Z Offset
	# SET_DISPLAY_TEXT MSG="Z-Offset"      
	
	# Calibrates Z-offset with klicky
	# PROBE_CALIBRATE

	###############################	
	
	

	# Heats up the nozzle up to target via data from slicer
	#CUSTOM_DISPLAY_MESSAGE MESSAGE='hotend_full_temp'
	SET_DISPLAY_TEXT MSG="Setting hotend to print temp"
	M118 Setting hotend to print temp

	# Sets SB-leds to heating-mode
	LED_STATUS_HEATING_EXT   
	
	# Goes to center of the bed
	G1 X{x_wait} Y{y_wait} Z15 F9000 	
              
	
	# Turns off partcooling fan	
	M107 


    #DISABLE_FILAMENT_SENSOR
    
	# Heats the nozzle to printing temp
	M109 S{target_extruder}    
	
	# Get to printing
	#CUSTOM_DISPLAY_MESSAGE MESSAGE='printing'
	SET_DISPLAY_TEXT MSG="Printing..."
	M118 Printing...
	
	#SFS_ENABLE_BOTH
	
	# Sets SB-leds to printing-mode
	LED_STATUS_PRINTING

	# Purge a line
	#LINE_PURGE
	VORON_PURGE

	#Turn chmaber lights to 25%  after 10 minutes of printing
	UPDATE_DELAYED_GCODE ID=chamber_lights_to_quarter DURATION=600
  
  
[delayed_gcode chamber_lights_to_quarter]
gcode:
  CASE_LIGHTS_QUARTER
  
  
